{
  "ignorePatterns": ["/dist/*"],
  "extends": [
    "expo",
    "prettier",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/order": [
      "error",
      {
        "distinctGroup": false,
        "newlines-between": "always"
      }
    ]
  }
}
